:root {
    --c-bg-light: #fcfcfc;
    --c-primary: #af473c;
    /*--c-secondary:#626e60; */
    --c-secondary:#626e60;
    --c-text: black;
    --c-test: pink;
}

body {
    font-family: sans-serif;
    min-height: 100vh;
    background-color: var(--c-bg-light);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--c-text);
}

p, ul, ol {
    color: var(--c-text);
    font-size: 1rem;
    line-height: 1.5;
    text-align: justify;
}

.hr-title {
    background: linear-gradient(to right, rgba(86, 104, 113, 1), rgba(86, 104, 113, 0.3));
    width: 30%;
    text-align: left;
    margin: 0;
    height: 2px;
    border: none;
}


@media (max-width: 64em) {
    #page-content {
        width: 100%;
        border: none;
        background-color: var(--c-bg-light);
    }
}

@media (min-width: 64em) {

    body {
        background-image: repeating-linear-gradient(25deg, transparent, transparent 30%, #af473c 30%, #af473c 70%, transparent 70% , transparent);
        background-size: 100vw 120vw;
        background-repeat: repeat-y;
        background-position: 0% 40vw;
        background-attachment: scroll;
    }

    #page-content {
        border: none;
        border-radius: 3px;
        padding: 1rem;
        background-color: rgba(252, 252, 252, 0.95);
        margin: 4rem 4rem 4rem 26rem;
        min-height: 50vh;
    }
}

@media (min-width: 104em) {
    #page-content {
        margin-right: 26rem;
    }
}

