#sidebar h2 {
    text-align: left;
    margin-bottom: 0;
}

/* Hide the blurb on a small screen */
#blurb {
    display: none;
}

a.nav-link {
    color: var(--c-text);
}

#collapse *:first-child {
    margin-top: 1rem;
}

#logo {
    width: 50%;
    height: auto;
}

#page-content {
    padding: 2rem 1rem;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.nav-link:hover {
    text-decoration: underline;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    color: var(--c-bg-light);
    text-decoration: none;
    background-color: var(--c-secondary);
    box-shadow: 2px 2px 4px 0 black;
}

@media (max-width: 64em) {
    #collapse {
        border-top: 1px black solid;
        background-color: var(--c-primary);
    }

    #sidebar {
        text-align: left;
        background-color: var(--c-secondary);
        color: #ffffff;
        width: 100%;
    }
}

@media (min-width: 64em) {

    #sidebar {
        position: fixed;
        top: 0;
        left: 0;
        /* bottom: 0; */
        width: 22rem;
        text-align: left;
        margin: 10rem 1rem 2rem 2rem;
        padding: 2rem 1rem;
        border: 1px gray solid;
        box-shadow: 1px 1px 4px 0 black;
        border-radius: 5px;
        color: #000000;
        background: var(--c-bg-light);
        /* background-image: linear-gradient(to right, #438496, #fcfcfc); /* #708348 */
    }

    /* reveal the blurb on a large screen */
    #blurb {
        display: block;
    }

    #header-row {
        margin: 0;
    }

    #sidebar h2 {
        text-align: center;
        margin-bottom: 0;
        color: black;
    }

    #nav-subtitle {
        margin-bottom: 2rem;
    }


    #blurb hr {
        height: 1px;
        width: 75%;
        border: none;
        background-color: var(--c-primary);
        text-align: center;
    }

    /* Hide the toggle on a large screen */
    #toggle {
        display: none;
    }

    #collapse {
        display: block;
        padding-top: 1rem;
    }

    #collapse *:first-child {
        margin-top: 0;
    }

    #logo {
        width: 50%;
    }

    .nav-link {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}