.md-content h2 {
    background-image: linear-gradient(to right, rgba(86, 104, 113, 1), rgba(86, 104, 113, 0.3));
    background-size: 30% 2px;
    background-repeat: no-repeat;
    background-position: bottom left;
    margin-bottom: 2rem;
}

.md-content h4 {
    margin-top: 3rem;
    margin-bottom: 2rem;
    background-image: linear-gradient(to right, rgba(86, 104, 113, 1), rgba(86, 104, 113, 0.3));
    background-size: 10rem 2px;
    background-repeat: no-repeat;
    background-position: bottom left;
}

.md-content h5 {
    margin-top: 3rem;
    margin-bottom: 1rem;
    background-image: linear-gradient(to right, rgba(86, 104, 113, 1), rgba(86, 104, 113, 0.3));
    background-size: 5rem 1px;
    background-repeat: no-repeat;
    background-position: bottom left;
}
/*
.md-content ol li{
    margin-top: 2rem;
}

.md-content ol {
    margin-bottom: 2rem;
}
*/
